# C build artifacts
obj/
*.o
*.d

# Binaries
projektarbeit-lfd-fast-adc
*example
dist/

# Visual Studio artifacts
**/.vs
**/x64
*.editorconfig
*.dll


# Python environment and recordings
**/fastadc-tester-venv/
*.npy

# User configuration
user_lfd-fast-adc.conf