[Unit]
Description=Fast BBB ADC sampling and MQTT publishing v1.1.0
After=network-online.target libpruio-lkm.service
Wants=network.target network-online.target libpruio-lkm.service

[Service]
User=lfd
Group=lfd
WorkingDirectory=/home/lfd/Projects/projektarbeit-lfd-fast-adc/
ExecStart=/home/lfd/Projects/projektarbeit-lfd-fast-adc/start.sh
ExecStop=/bin/kill -9 $MAINPID
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
